.location {
   margin-bottom: 30px;
}

.degree-section {
   align-items: center;
   cursor: pointer;
   display: flex;
}

.temp-degree {
   margin-left: 30px;
}

.temp-value {
   font-size: 30px;
   margin-left: 10px;
}

.temp-description {
   margin-top: 30px;
   text-align: center;
}
